target/
.idea
*.iml
smart-algorithm/target
smart-algorithm/*.iml

smart-streaming/target/
smart-streaming/*.iml

smart-scala/target/
smart-scala/*.iml

smart-crawler/target/
smart-crawler/*.iml

smart-magic/target/
smart-magic/*.iml

smart-java/target
smart-java/*.iml
